.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
    font-size: 12px;
}

.formSummaryError {
    border: 2px solid red;
    padding: 5px;
    color: brown;
    width: 100px;
}