.header {
    padding: 5px 0;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: gray;
    opacity: 0.5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    max-width: 50px;
    max-height: 50px;
    filter: drop-shadow(3px 3px 10px #5f17e5);
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}